grant codebase "file:/home/2015/nakdag/comp512/ProjectPhase3new/servers/RoomImpl/" {
    permission java.security.AllPermission;
	permission java.net.SocketPermission "*:1024-65535","listen,connect,accept,resolve";
	
};


